[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "@openzeppeilin = lib/openzeppelin-contrats/contracts"
]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
